{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Modification Produit
{% endblock %}

{% block body %}
	<body class="bg-white">
		<p class="h1 text-center my-5 py-5 text-black">Modification d'un article:</p>
		<div class="shop container">
			<div class="shop-content">
				{% for article in articles %}
					<div class="product-box">
						<img class="card-img d-block w-100" src="{{ asset('uploads/fichiers/'~article.image) }}" alt="{{ article.designation }}">
						<h5 class="card-title text-black fs-6 fw-bold">{{ article.designation }}</h5>
						<span class="card-text text-black fst-italic">{{ article.prix }}€</span>
						<span class="card-text text-black fst-italic">id produit :
							{{ article.id }}</span>
						<a href="{{path('cliquemodif',{'id':article.id})}}">
							<i class="bi bi-database-gear modif-product text-white" style="font-size: 1.25rem;"></i>
						</a>
						<a href="{{ path('suppmodif', {'id': article.id}) }}">
							<i class="bi bi-trash supp-product delete-button text-white" style="font-size: 1.25rem;"></i>
						</a>
					</div>


				{% endfor %}
			</div>
		</div>
	</body>

{% endblock %}

